/*
Folha de estilo do site mpfassessoria.com
@author Miguel Estorce
*/

/* Layout ***************************/

/* Variáveis */
:root {
    --azulClaro: #9cdcfe;
    --azulMedio: #3498db;
    --azulEscuro: rgb(3, 28, 172);
    --branco: #fff;
    --preto: #000;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    display: flex;
    margin: 0 auto;
}

.Flex5 {
    display: flex;
    flex-direction: column-reverse;
}

.Flex6 {
    display: flex;
    justify-content: space-around;
}

/* Botão */
.banner-btn {
    display: inline-block;
    background-color: var(--azulMedio);
    color: var(--branco);
    padding: 15px 40px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
}

.banner-btn:hover {
    background-color: var(--cinzaEscuro);
    color: var(--branco);
    transform: scale(1.05);
}

/* Card */
.card {
    width: 337px;
    height: 520px;
    background-color: var(--azulClaro);
    border: 2px solid var(--azulClaro);
    border-radius: 25px;
    margin: 0 auto;
}

.card img {
    border-radius: 25px 25px 0 0;
}

.card h2 {
    font-size: 1.3rem;
    margin: 15px 0px;
}

.card p {
    color: var(--preto);
    text-align: left;
    padding: 0 10px 25px;
}

#wireframe h2 {
    margin: 15px 0;
    font-size: 1.3rem;
}

/* Cabeçalho */
header {
    height: 55px;
    background-color: var(--azulEscuro);
}

.logo img {
    width: 100px;
    height: 100px;
}

#check {
    display: none;
}

label {
    font-size: 3rem;
    color: rgba(156, 220, 254, 0.755);
    position: fixed;
    top: 0px;
    right: 15px;
}

nav ul {
    list-style: none;
    height: 100vh;
    position: fixed;
    top: 60px;
    background-color: var(--azulEscuro);
    width: 65%;
    right: -65%;
    transition: 0.5s;
}

#check:checked ~ ul {
    top: 55px;
    right: 0px;
}

nav ul li {
    padding: 20px;
    border-bottom: 1px solid var(--azulClaro);
    text-align: right;
}

nav ul li a {
    text-decoration: none;
    color: var(--branco);
}

/* Principal */
main {
    height: 50vh;
    background: url(./img/terceirafoto.png);
    background-size: cover;
    background-position: center;
}

main .container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: var(--branco);
    text-shadow: 0px 5px 10px var(--preto);
}

main h2 {
    color: var(--branco);
    font-size: 1.85rem;
    font-weight: 900;
    margin-bottom: 30px;
    text-shadow: 0px 5px 10px var(--preto);
}

/* Destaque */
#destaque {
    padding: 30px 5px;
    background-color: var(--azulEscuro);
}

#destaque .container {
    flex-direction: column;
}

#hero {
    text-align: center;
}

#hero img {
    width: 300px;
    height: 300px;
    margin-bottom: 25px;
}

.hero-text h2 {
    font-size: 1.6rem;
    color: var(--preto);
    margin-bottom: 15px;
}

.hero-text p {
    color: var(--branco);
}

.topic {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.topic p {
    margin-left: 15px;
}

/* Sobre */
#sobre {
    margin: 50px 10px;
}

#sobre .container {
    flex-direction: column;
}

#video {
    margin: 30px 10px;
    width: 100%;
    max-width: 350px;
    aspect-ratio: 16 / 9;
    border: none;
}

/* Wireframe */
#wireframe {
    padding: 50px 10px;
    margin-top: 20px;
    background-color: var(--azulClaro);
}

#textoMpf {
    text-align: left;
    padding: 20px;
}

#qrcode {
    width: 200px;
}

#qrcode img {
    display: none;
}

/* Serviços */
#servicos {
    background-color: var(--azulEscuro);
    padding: 50px 0px;
}

#servicos .container {
    flex-direction: column;
    text-align: center;
}

/* Rodapé */
footer {
    background-color: var(--azulEscuro);
    padding: 20px 0;
    color: var(--branco);
}

footer a{
    color: var(--branco);
}
#conta .container {
    flex-direction: column;
    align-items: start;
    text-align: left;
}

address {
    padding: 50px 0px;
    background-color: var(--azulClaro);
    color: var(--preto);
}

address a {
    text-decoration: none;
    color: var(--preto);
}

address img {
    padding-top: 15px;
}

/* MAPA — desktop mostra */
#googleMaps {
    display: block;
}

/* MAPA — esconder no celular */
@media (max-width: 575px) {
    #googleMaps {
        display: none !important;
    }
}

/* Smartphone landscape */
@media (min-width: 576px) {

    .container {
        max-width: 540px;
    }

    nav ul {
        width: 40%;
        right: -40%;
    }

    main {
        height: 75vh;
    }

    main h1 {
        font-size: 2.75rem;
    }

    main h2 {
        font-size: 2.5rem;
    }

    #destaque {
        padding: 50px 0px;
    }

    #hero {
        text-align: left;
    }

    #hero img {
        width: 200px;
        height: 200px;
        margin-right: 30px;
    }

    .topic {
        display: none;
    }

    .Flex5 {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

/* Tablet portrait */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    main h1 {
        font-size: 3.9rem;
    }

    main h2 {
        font-size: 3rem;
    }
}

/* Tablet landscape */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

/* Notebook / PC */
@media (min-width: 1200px) {
    .container {
        justify-content: space-between;
        max-width: 1140px;
    }

    header {
        height: 100px;
    }

    .logo img {
        width: 194px;
        height: 194px;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        margin-top: 20px;
    }

    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li a:hover {
        color: var(--azulClaro);
    }

    main {
        height: 89vh;
    }

    #hero img {
        width: 400px;
        height: 400px;
    }

    .hero-text h2 {
        font-size: 2rem;
    }

    .topic {
        display: flex;
    }

    #servicos .container {
        flex-direction: row;
    }

    #qrcode img {
        display: flex;
    }
}

/* Full HD / 4K */
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }

    main h1 {
        font-size: 4rem;
    }

    main h2 {
        font-size: 4rem;
    }

    #servicos .container {
        flex-direction: row;
    }

    .Flex6 {
        flex-direction: row-reverse;
    }
}
