/*
Folha de estilo do site mpfassessoria.com
@author Miguel Estorce
*/

/* Layout ***************************/

/* Variáveis */

:root {
    --azulClaro: #9cdcfe;
    --azulMedio: #3498db;
    --azulEscuro: rgb(3, 28, 172);
    --branco: #fff;
    --preto: #000;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    display: flex;
    margin: 0 auto;
}

/* botão estilizado */
.banner-btn {
    display: inline-block;
    background-color: var(--azulMedio);
    color: var(--branco);
    padding: 15px 40px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
}

.banner-btn:hover {
    background-color: var(--cinzaEscuro);
    color: var(--branco);
    transform: scale(1.05);
}

/*CARD*/
.card {
    width: 337px;
    height: 520px;
    background-color: var(--azulClaro);
    margin-top: 25px;
    border: 2px solid var(--azulClaro);
    border-radius: 25px;
    margin: 0 auto;
}

.card img {
    border-radius: 25px 25px 0px 0px;
}

.card h2 {
    font-size: 1.3rem;
    margin: 15px 0px;
}

.card p {
    color: var(--preto);
    text-align: left;
    padding: 0px 10px 25px 10px;
}
#wireframe h2{
    margin: 15px 0px;
    font-size: 1.3rem;
}

/* Fim - Layout <<<<<<<<<<<<<<<<<<<<<<<<< */


/* Smartphone portrait >>>>>>>>>>>>>>>>>> */

/* Cabeçalho */
header {
    height: 55px;
    background-color: var(--azulEscuro);
}

.logo img {
    width: 100px;
    height: 100px;
}

#check {
    display: none;
}

label {
    font-size: 3rem;
    color: rgba(156, 220, 254, 0.755);
    position: fixed;
    top: 0px;
    right: 15px;
}

nav ul {
    list-style: none;
    height: 100vh;
    position: fixed;
    top: 60px;
    background-color: var(--azulEscuro);
    width: 65%;
    right: -65%;
    transition: all 0.5s;
}

/* ação para a caixa checkbox */
/* quando selecionada mudar ul */
#check:checked~ul {
    top: 55px;
    right: 0px;
}

nav ul li {
    padding: 20px;
    border-bottom: 1px solid var(--azulClaro);
    text-align: right;
}

nav ul li a {
    text-decoration: none;
    color: var(--branco);
}

/* Principal */
main {
    height: 50vh;
    background: url(./img/terceirafoto.png);
    background-size: cover;
    background-position: center;
}

main .container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: var(--branco);
    font-family: "open", sans-serif;
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}

main h2 {
    color: var(--branco);
    font-size: 1.85rem;
    font-weight: 900;
    text-shadow: 0px 5px 10px var(--preto), 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}


/* Destaque */
#destaque {
    padding: 30px 5px;
    background-color: var(--azulEscuro);
    background-size: cover;
    background-position: center;
}

#destaque .container {
    flex-direction: column;
}

#hero {
    text-align: center;
}

#hero img {
    width: 300px;
    height: 300px;
    margin-bottom: 25px;
}

.hero-text h2 {
    font-size: 1.6rem;
    color: var(--preto);
    margin-bottom: 15px;
}

.hero-text p {
    color: var(--branco);
}

.topic {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.topic p {
    margin-left: 15px;
}

/* Sobre */
#sobre {
    margin: 50px 10px;
}

#sobre .container {
    flex-direction: column;
}

#video {
    margin: 30px 10px;
    width: 100%;
    max-width: 350px;
    aspect-ratio: 16 / 9;
    align-items: center;
    border: none;
}

/* Wireframe */
#wireframe {
    padding: 50px 10px;
    margin-top: 20px;
    background-color:var(--azulClaro);
}

#textoCloset {
    text-align: left;
    padding: 20px;

}

#qrcode {
    display: block;
    max-width: 200px;
    min-width: 100px;

}

#qrcode img {
    display: none;
    

}

.wireFrame {
  display: flex;
  justify-content: space-between; /* separa texto e imagem */
  align-items: center;

}

#qrcode {
  width: 200px;
  height: auto;
}


.about {
    width: 100%;
    max-width: 350px;
    aspect-ratio: 16 / 9;
    align-items: center;
    border: none;
    flex-direction: column;
    display: flex;
}

/*CARTÃO*/
#servicos {
    background-color: var(--azulClaro);
    padding: 50px 0px;
}

#servicos .container {
    flex-direction: column;
    text-align: center;
}

#servicos {
    background-color: var(--azulEscuro);
}

/* Fim - Smartphone portrait <<<<<<<<<<<< */


/* Smartphone landscape >>>>>>>>>>>>>>>>> */
@media (min-width: 576px) {

    /* Layout */
    .container {
        max-width: 540px;
    }

    /* Cabeçalho */
    nav ul {
        width: 40%;
        right: -40%;
    }

    /* Principal */
    main {
        height: 75vh;
    }

    main h1 {
        font-size: 2.75rem;
    }

    main h2 {
        font-size: 2.5rem;
    }

    /* Destaque */
    #destaque {
        padding: 50px 0px;
    }

    #destaque .container {
        flex-direction: column;
        align-items: center;
    }

    #hero {
        text-align: left;
    }

    #hero img {
        width: 200px;
        height: 200px;
        margin: 0px 30px 0px 0px;
    }

    .topic {
        display: none;
    }

}

/* Fim - Smartphone landscape <<<<<<<<<<< */


/* Tablet portrait >>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {

    /* Layout */
    .container {
        max-width: 720px;
    }

    /* Principal */
    main h1 {
        font-size: 3.9rem;
    }

    main h2 {
        font-size: 3rem;
    }
}

/* Fim - Tablet portrait <<<<<<<<<<<<<<<< */


/* Tablet landscape >>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px) {

    /* Layout */
    .container {
        max-width: 960px;
    }
    
}

/* Fim - Tablet landscape <<<<<<<<<<<<<<< */


/* Notebook / PC >>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {

    /* Layout */
    .container {
        justify-content: space-between;
        max-width: 1140px;
    }

    /* Cabeçalho */
    header {
        height: 100px;
    }

    .logo img {
        width: 194px;
        height: 194px;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 20px;
    }

    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li a:hover {
        color: var(--azulClaro);
    }

    /* Principal */
    main {
        height: 89vh;
    }

    /* Destaque */

    #hero img {
        width: 400px;
        height: 400px;
    }

    .hero-text h2 {
        font-size: 2rem;
    }

    .topic {
        display: flex;
    }
     #servicos .container {
        display: flex;
        flex-direction: row;
    }
    #qrcode img{
        display: flex;
    }
    #wireframe .qrcode{
        text-align: right;
    }

}

/* Fim - Notebook / PC <<<<<<<<<<<<<<<<<< */


/* Full HD / 4K >>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1400px) {

    /* Layout */
    .container {
        max-width: 1320px;
    }

    /* Principal */
    main h1 {
        font-size: 4rem;
    }

    main h2 {
        font-size: 4rem;
    }

    #servicos .container {
        display: flex;
        flex-direction: row;
    }
}

/* Fim - Full HD / 4K <<<<<<<<<<<<<<<<<<< */
